@model vk_web_mock.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>virtual-kubelet web mock provider</h1>
<h2>Pods</h2>
<table class="table">
<thead>
    <tr>
        <td>Name</td>
    </tr>
</thead>
<tbody>
    @foreach(var pod in Model.Pods){
    <tr>
        <td>@pod.Metadata.Name</td>
    </tr>
    }
</tbody>
</table>